<form 
class = "login-form"
[formGroup]="form"
(ngSubmit)="onSubmit()"
>
    <h1 class="h1 mb60">Вход</h1>
    <label class = "tt-control-label mb16">
        Telegram username
        <input type="text" class = "tt-input" formControlName="username" placeholder="Введите логин">
    </label>
    <label class = "tt-control-label mb32">
        Пароль
        <input type="text" class = "tt-input" formControlName="password" placeholder="Введите пароль">
    </label>
    <button type="submit" class="btn btn-shadow">Войти</button>
</form>

<img class="logo" src="/assets/svgs/logo-big.svg" alt="">